<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>月間ランキング</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/header :: header}"></div>
    <div class="container">
        <h1>月間ランキング</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: center;">順位</th>
                            <th style="text-align: center;">プロフィール画像</th>
                            <th>お名前</th>
                            <th>総いいね獲得数</th>
                            <th>アクション</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ユーザーをリストで繰り返し表示する -->
                        <tr th:each="user, iter : ${users}">
                            <!-- 順位を表示する（インデックスは0から始まるため+1） -->
                            <td style="text-align: center; vertical-align: middle;" th:text="${iter.index + 1}"></td>
                            <td>
                                <!-- 画像の最大幅と高さを設定し、アスペクト比を維持 -->
                                <img th:src="'data:image/jpeg;base64,' + ${user.base64Image}" alt="プロフィール画像"
                                     style="width: auto; height: 100px; max-height: 150px; display: block; margin: 0 auto;" />
                            </td>
                            <!-- ユーザー名を表示 -->
                            <td th:text="${user.user_name}"></td>
                            <!-- 総いいね獲得数を表示 -->
                            <td th:id="'like-count-' + ${user.loginId}" th:text="${user.likeCount}"></td>
                            <td>
                                <!-- いいねボタン -->
                                <button th:if="${!user.liked}" th:data-user-id="${user.loginId}" class="btn btn-primary like-button">いいね</button>
                                <button th:if="${user.liked}" th:data-user-id="${user.loginId}" class="btn btn-secondary unlike-button">よくない</button>
                                <!-- 詳細ページへのリンク -->
                                <a th:href="@{/userdetail(loginId=${user.loginId})}" class="btn btn-info">詳細確認</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- ユーザー一覧へのリンク -->
                <a th:href="@{/userintroduction}" class="btn btn-info">ユーザー一覧はこちら</a>
            </div>
        </div>
    </div>

    <!-- 必要なスクリプトファイルをインクルード -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/like.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function() {
            const csrfToken = document.querySelector('meta[name="_csrf"]').content;
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

            // いいねボタンにクリックイベントを追加
            document.querySelectorAll(".like-button").forEach(function(button) {
                button.addEventListener("click", function() {
                    var loginId = this.getAttribute("data-user-id");
                    likeUser(loginId, csrfToken, csrfHeader, this);
                });
            });

            // よくないボタンにクリックイベントを追加
            document.querySelectorAll(".unlike-button").forEach(function(button) {
                button.addEventListener("click", function() {
                    var loginId = this.getAttribute("data-user-id");
                    unlikeUser(loginId, csrfToken, csrfHeader, this);
                });
            });
        });

        // いいねリクエストを送信する関数
        function likeUser(loginId, csrfToken, csrfHeader, button) {
            fetch('/like', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken,
                    'X-Request-Source': 'monthlyRanking' // 月間ランキング画面からのリクエストを示すヘッダー
                },
                body: JSON.stringify({ loginId: loginId })
            }).then(response => {
                if (response.ok) {
                    response.json().then(data => {
                        console.log("Like request successful for user: " + loginId);
                        updateLikeCount(loginId, data.likeCount);
                        button.textContent = "よくない";
                        button.classList.remove("btn-primary", "like-button");
                        button.classList.add("btn-secondary", "unlike-button");
                        button.removeEventListener("click", function() {
                            likeUser(loginId, csrfToken, csrfHeader, button);
                        });
                        button.addEventListener("click", function() {
                            unlikeUser(loginId, csrfToken, csrfHeader, button);
                        });
                    });
                } else {
                    console.log("Like request failed for user: " + loginId);
                }
            }).catch(error => {
                console.error("Error:", error);
            });
        }

        // よくないリクエストを送信する関数
        function unlikeUser(loginId, csrfToken, csrfHeader, button) {
            fetch('/unlike', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken,
                    'X-Request-Source': 'monthlyRanking' // 月間ランキング画面からのリクエストを示すヘッダー
                },
                body: JSON.stringify({ loginId: loginId })
            }).then(response => {
                if (response.ok) {
                    response.json().then(data => {
                        console.log("Unlike request successful for user: " + loginId);
                        updateLikeCount(loginId, data.likeCount);
                        button.textContent = "いいね";
                        button.classList.remove("btn-secondary", "unlike-button");
                        button.classList.add("btn-primary", "like-button");
                        button.removeEventListener("click", function() {
                            unlikeUser(loginId, csrfToken, csrfHeader, button);
                        });
                        button.addEventListener("click", function() {
                            likeUser(loginId, csrfToken, csrfHeader, button);
                        });
                    });
                } else {
                    console.log("Unlike request failed for user: " + loginId);
                }
            }).catch(error => {
                console.error("Error:", error);
            });
        }

        // いいね獲得数を更新する関数
        function updateLikeCount(loginId, likeCount) {
            document.getElementById("like-count-" + loginId).textContent = likeCount;
        }
        /*]]>*/
    </script>
</body>
</html>
